<%- include("template/cabecera", {tituloWeb: 'Pagina de Bienvenida'}) %>

<div class="container mt-4 mb-4">
  <div class="row ">
    <div class="col-md-6 bg-white p-5 mb-3 border rounded">
        <h1 class="text-center font-weight-normal mb-4">Encuentra tu trabajo ideal</h1>
        <form action="/searchEmploy" class="row g-3" method="POST" id="form1">

          <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Nombre del trabajo o Compañia" name="jobOrComp">
          </div>

          <div class="col-md-12">
            <%
            var provinces = ["Santo Domingo", "Santiago", "San Cristobal", "La Altagracia",  "La Romana", "Monte Plata"]
            %>
            <select id="provincia" name="city" class="form-select" data-placeholder="Provincia">
              <option value="0" selected>Provincia</option>
              <%provinces.forEach(province => {%>
                <option value="<%= province %>"><%= province %></option>
              <%})%>

            </select>
          </div>
          <div class="col-md-12">
            <button class="btn btn-primary btn-block" type="submit">
              <i class="fal fa-search icon"></i> Buscar
            </button>
          </div>
        </form>
    </div>
    <div class="col-md-12 mt-5 ">
      <h1 class="font-weight-normal mb-3">Publicaciones recientes</h1>
      <div class=""><%console.log(data)%>
        <% for(let i = 0; i < data.length; i++){ %>
        <div class="row align-items-center bg-white p-3 mb-3 border rounded">
            <div class="col-md-2">
              <img src="http://localhost:3000//IMG/CompanyProfileIMG/<%=data[i].IDCompañia%>+Logo.jpg" alt="LogoCompany" style="width: 100%; height: auto;">
            </div>
            <div class="col-md-10 p-3" style="padding-top: 30px; padding-bottom: 30px">
              <div class="row mb-2 align-items-center">
                <div class="col-md-auto pl-0 pr-0 pb-2">
                  <a href="/recentsPost/<%= data[i].IDTrabajo %>"
                    class="h5 mr-3 p-0 text-decoration-none font-weight-normal text-dark"><%= data[i].Nombre %> |</a>
                </div>
                <div class="col-md-auto bg-primary text-white rounded mr-1 pl-1 pr-1 mb-1"
                  style="height: 25px; width: auto">
                  <p class=""><%= data[i].TipoTrabajo %></p>
                </div>
                <div class="col-md-auto bg-secondary text-white rounded mr-1 pl-1 pr-1 mb-1"
                  style="height: 25px; width: auto">
                  <p class=""><%= data[i].Tanda %></p>
                </div>
                <div class="col-md-auto bg-success text-white rounded pl-1 pr-1 mb-1" style="height: 25px; width: auto">
                  <p class=""><%= data[i].Modalidad %></p>
                </div>
              </div>

              <div class="row text-muted">
                <div class="col-md-12 p-0 text-dark">
                  <div class=""><%= data[i].Categoria %></div>
                </div>
                <div class="col-md-12 p-0">
                  <div class=" text-muted"><i class="fal fa-building text-dark font-weight-bold"></i>
                    <%= data[i].CompanyName %></div>
                </div>

                <div class="col-md-auto p-0 mr-3">
                  <i class="fal fa-map-marker-alt text-dark font-weight-bold"></i> <%= data[i].Calle %>
                  , <%= data[i].Dm %>, <%= data[i].Municipio %> -
                  <%= data[i].Provincia %>
                </div>
                <div class="col-md-auto p-0">
                  <i class="fal fa-clock text-dark font-weight-bold"></i> <%= data[i].PostDate %>
                </div>
              </div>
            </div>

        </div>
        <% } %>
      </div>
    </div>

  </div>
</div>
</div>

<%- include("template/footer")%>
